.App {
  background: antiquewhite;
  padding: 10px;
  width: 40%;
}

.show {
  display: flex;
  justify-content: space-between;
}

button {
  height: 50px;
  width: 200px;
  margin: 10px 50px;
  border: none;
  font-size: 14px;
  color: white;
  padding: 0 15px;
  outline: none;

  &:hover {
    cursor: pointer;
    border: 1px solid blue;
  }
}

.exist {
  background-color: skyblue;
}

p {
  margin: 15px 50px;
  background-color: white;
  height: 60px;
  line-height: 60px;
  color: black;
}